# Kernel configuration for QEMU/i386
# Copyright (C) 2007  Sylvain Beucler
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
# 02110-1301, USA.

# Usage:
# - put this file in your Linux sources (top-level)
# - make allnoconfig
# -> Your .config is ready!

# Update methodology:
# 1. make allnoconfig # with the previous version of this file
# 2. make menuconfig
# 3. make your changes and note what symbols you (de)activated: 
# 4. cp .config .config.menuconfig
# 5. update this file using the symbols from 3.
# 6. make allnoconfig
# 7. diff .config .config.menuconfig
# 8. update this file is there are missing symbols (usually new
#    symbols with default values - hopefully we'll build a tool to
#    auto-add those in .config)

CONFIG_BINFMT_ELF=y

# Old /dev/hda-style modules:
CONFIG_IDE=y
CONFIG_IDE_GD=y
CONFIG_IDE_GD_ATA=y
CONFIG_BLK_DEV_PIIX=y

## Newer /dev/sda-style modules:
# (not used for QEMU's disk AFAICT)
#CONFIG_ATA=y
## not sure about the right driver, let's try this one:
#CONFIG_ATA_GENERIC=y
## lspci: IDE interface: Intel Corporation 82371SB PIIX3 IDE [Natoma/Triton II]
#CONFIG_PATA_MPIIX=y
## auto:
#CONFIG_ATA_VERBOSE_ERROR=y
#CONFIG_ATA_ACPI=y
#CONFIG_SATA_PMP=y
#CONFIG_ATA_SFF=y

CONFIG_EXT3_FS=y
# auto:
CONFIG_EXT3_FS_XATTR=y

CONFIG_REISERFS_FS=y


CONFIG_MPENTIUMII=y

CONFIG_SYSVIPC=y

CONFIG_EXT2_FS=y
CONFIG_TMPFS=y

CONFIG_NET=y
# eg: /dev/log
CONFIG_UNIX=y

CONFIG_IOSCHED_DEADLINE=y
CONFIG_DEFAULT_DEADLINE=y

# Floppy
CONFIG_BLK_DEV_FD=y

# CD-ROM
CONFIG_BLK_DEV_IDECD=y
CONFIG_ISO9660_FS=y
CONFIG_JOLIET=y
# auto:
CONFIG_NLS=y


CONFIG_PCI=y

CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_INET=y

#auto:
#(IPSec)
#CONFIG_INET_XFRM_MODE_TRANSPORT=y
#CONFIG_INET_XFRM_MODE_TUNNEL=y
#CONFIG_INET_XFRM_MODE_BEET=y
#?
CONFIG_INET_DIAG=y
#un-auto:
CONFIG_IPV6=n

CONFIG_NETDEVICES=y
CONFIG_NET_ETHERNET=y
CONFIG_NET_PCI=y
CONFIG_NE2K_PCI=y


CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_CIFS=y

CONFIG_IP_MULTICAST=y
#IP: multicast routing (IP_MROUTE) # necessary?


# For the vga=ask kernel parameter
CONFIG_VIDEO_SELECT=y
CONFIG_FB=y
CONFIG_FB_CIRRUS=y


# Old Windows filesystem
CONFIG_VFAT_FS=y
CONFIG_NLS_CODEPAGE_437=y
# French:
CONFIG_NLS_CODEPAGE_850=y
CONFIG_NLS_ISO8859_1=y



# Software poweroff:
CONFIG_PM=y
CONFIG_ACPI=y
CONFIG_ACPI_BUTTON=y
# auto:
CONFIG_ACPI_EC=y
CONFIG_ACPI_POWER=y
CONFIG_ACPI_SYSTEM=y
CONFIG_X86_PM_TIMER=y
# un-auto:
CONFIG_ACPI_SLEEP=n
CONFIG_ACPI_PROCFS=n
CONFIG_ACPI_AC=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_FAN=n
CONFIG_ACPI_PROCESSOR=n


# Linux VServer 2.2 defaults
CONFIG_VSERVER_COWBL=y
CONFIG_VSERVER_PROC_SECURE=y
CONFIG_VSERVER_HARDCPU=y
CONFIG_VSERVER_IDLETIME=y
CONFIG_TAGGING_ID24=y
CONFIG_VSERVER_PRIVACY=y
CONFIG_VSERVER_CONTEXTS=256
CONFIG_VSERVER_WARN=y
CONFIG_VSERVER=y
